<template>
  <div class="card">
    <div class="card-general-info__first">
      <div class="road-info">
        <div class="dot">
          <div class="date">
            23.05.2020
            <div class="time">
              10:00 – 11:00
              <div class="day">ПН</div>
            </div>
          </div>
          <div class="card-address__city">Москва</div>
          <div class="card-address__street">
            Малый Гнездниковский переулок, дом 4, строение 5
          </div>
        </div>
        <div class="dot-add">+3 точки</div>
        <div class="dot">
          <div class="date">
            24.05.2020
            <div class="time">
              10:00 – 11:00
              <div class="day">ПН</div>
            </div>
          </div>
          <div class="card-address__city">Санкт-Петербург</div>
          проспект Вернадского, 103к5
        </div>
      </div>
      <div class="detail-info">
        <div class="detail-content">
          <div class="detail-text">20 тонн</div>
          <div class="detail-text">
            Оборудование, механизмы, комплектующие, техника
          </div>
          <div class="card-comment">Комментарий</div>
        </div>
        <div class="detail-list">
          <div class="detail-text">
            <img src="../images/check.svg" alt="текст" /> Темп. режим
            +12°C...-20°C
          </div>
          <div class="detail-text">
            <img src="../images/check.svg" alt="текст" /> Боковая погрузка
          </div>
          <div class="detail-text">
            <img src="../images/check.svg" alt="текст" /> Объявл. ценность 90
            000 ₽
          </div>
        </div>
      </div>
      <div class="detail-info">
        <div class="card-income">
          <div class="card-income__header">Доход</div>
          <div class="card-income__value">21 500 ₽</div>
        </div>
        <div class="card-income__list">
          <div class="detail-list__pointer">
            <div class="card-pointer__detail">Статус</div>
            <div class="card-pointer__detail">Партия</div>
            <div class="card-pointer__detail">Создан</div>
          </div>
          <div class="detail-list__text">
            <div class="detail-text__value">Ожидание водителя</div>
            <div class="detail-text__value">№2455</div>
            <div class="detail-text__value">22.04.2020 13:34</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-general-info__second">
      <div class="road-info">
        <div class="card-pointer__sender">Отправитель</div>
        <div class="card-phone-number">+7 495 345-66-66</div>
        <div class="card-sender-name">
          ОАО КОМПЛЕКС ГОСТИНИЦЫ "ОРЛЕНОК"
          <div class="time">7704451838</div>
        </div>
        <div class="card-sender-name">Баранов Федор Александрович</div>
        <div class="card-sender-email">keramika@feldhaus.ru</div>
      </div>
      <div class="detail-info"></div>
      <div class="detail-info--driver">
        <Modal
          v-if="showModal"
          :drivers="drivers"
          :license_plates="license_plates"
          @selected-value="changeValues"
        />
        <div class="detail-info__header">
          <div class="detail-info__driver">Водитель</div>
          <div class="detail-info__change" @click="changeDrive">Изменить</div>
        </div>
        <template v-if="selected_driver">
          <div class="card-phone-number">{{ driverComputed.phone }}</div>
          <div class="card-sender-name">{{ driverComputed.name }}</div>
          <div class="card-sender-name">
            {{ "Паспорт: " + driverComputed.passport }}
          </div>
          <div class="card-sender-name">
            {{ "ВУ: " + driverComputed.driver_license }}
          </div>
        </template>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer__header">Акт ВР</div>
      <div class="card-footer-code-search">
        <input
          v-model="code"
          placeholder="Код отправления"
          class="card-footer-code-search__input"
        />
        <button class="code-search__button">
          <img src="../images/vectorWhite.svg" alt="текст" />
        </button>
      </div>

      <button class="card-footer-load__button">
        {{ "Загрузить документы" }}
      </button>
    </div>
  </div>
</template>

<script>
import Modal from "@/components/Modal";
import "vue-select/dist/vue-select.css";

export default {
  name: "Home",
  components: {
    Modal,
  },
  data() {
    return {
      code: "",
      showModal: false,
      drivers: [
        {
          name: "Новиков Алексей Михайлович",
          status: false,
        },
        {
          name: "Никифоров Николай Петрович",
          status: false,
        },
      ],
      license_plates: [
        {
          name: "A 777 AA 776",
          status: false,
        },
        {
          name: "А 123 АА 345",
          status: false,
        },
      ],
      selected_driver: null,
    };
  },
  computed: {
    driverComputed() {
      if (this.selected_driver) {
        return {
          name: this.selected_driver,
          phone: "+7 495 532-21-33",
          passport: "2367 452158",
          driver_license: "КВ333178",
        };
      }
      return {};
    },
  },
  methods: {
    changeDrive() {
      this.showModal = !this.showModal;
    },
    changeValues(payload) {
      if (payload.group === "drivers") {
        this.selected_driver = payload.name;
        this.drivers.forEach((x) => {
          x.status = false;
        });
        this.drivers.filter((x) => x.name === payload.name)[0].status = true;
      } else if (payload.group === "license_plates") {
        this.license_plates.forEach((x) => {
          x.status = false;
        });
        this.license_plates.filter(
          (x) => x.name === payload.name
        )[0].status = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  max-width: 822px;
  width: 100%;
  height: auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #cacaca;
  margin: 0 auto;
  background: #f9f9f9;
}
.detail-income {
  display: inline-block;
  width: 100%;
}
.card-general-info__first {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  border-bottom: 1px solid #cacaca;
  padding: 24px 24px 12px 24px;
}
.road-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 34%;
  max-width: 258px;
}
.dot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.dot-add {
  padding: 2px 6px;
  background: #e6e6e6;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 12px;
}
.date {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
}
.time {
  display: inline-block;
  margin-left: 6px;
  color: #cacaca;
}
.day {
  align-self: flex-start;
  display: inline;
  padding: 1px 4px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 3px;
}
.header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  width: 100%;
}
.detail-info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 31%;
  border-left: 1px solid #cacaca;
  &--driver {
    position: relative;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #ffffff;
  top: 30px;
  right: 22px;
  height: auto;
  width: 278px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 17px;
}

.detail-text {
  margin-bottom: 6px;
  max-height: 100%;
}
.detail-list {
  align-self: flex-end;
  width: 100%;
  .detail-text {
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .detail-text img {
    margin-right: 8px;
  }
}
.card-general-info__second {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  padding: 12px 23px 16px 24px;
  border-bottom: 1px solid #cacaca;
}
.card-pointer__sender {
  font-size: 11px;
  margin-bottom: 6px;
  color: #cacaca;
}
.card-phone-number {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: 4px;
}
.card-sender-name {
  margin-bottom: 4px;
}
.card-sender-email {
  margin-bottom: 6px;
}
.card-comment {
  color: #ef483e;
}
.card-income__header {
  margin-bottom: 4px;
}
.card-income__value {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.card-pointer__detail {
  color: #cfcfcf;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 1px;
  }
}
.card-footer {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  padding: 12px 0px 12px 24px;
  flex-direction: row;
  align-items: center;
}
.card-address__city {
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  width: 100%;
}
.card-address__street {
  margin-bottom: 14px;
}
.card-income__list {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.detail-list__pointer {
  width: 28%;
}
.detail-list__text {
  width: 72%;
}
.detail-text__value {
  margin-bottom: 6px;
  &:last-child {
    margin-bottom: 0;
  }
}
.card-footer__header {
  color: #cfcfcf;
  width: 29%;
}
.card-footer-code-search {
  margin-right: 12px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 4px 4px 4px 12px;
  max-width: 174px;
  background-color: #ffffff;
}
.card-footer-code-search__input {
  border: none;
  outline: none;
  max-width: 130px;
}
input::-webkit-input-placeholder {
  color: #cfcfcf;
}
.code-search__button {
  width: 24px;
  height: 24px;
  background-color: #ef483e;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-footer-load__button {
  padding: 8px 12px;
  background: #e6e6e6;
  border: none;
  outline: none;
  align-self: center;
}
.detail-info__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
}
.detail-info__driver {
  color: #cfcfcf;
  margin-bottom: 6px;
}
.detail-info__change {
  color: #ef483e;
}
.detail-info--driver {
  display: flex;
  padding-left: 12px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 31%;
  border-left: 1px solid #cacaca;
  flex-direction: column;
}
</style>