<template>
  <div class="modal">
    <div class="modal__list">
      <div class="modal__select-title">Водители</div>
      <Row
        v-for="(driver, index) in drivers"
        :key="index"
        :data="driver"
        :group="'drivers'"
        @selected-value="resetList"
        :reset="reset.drivers"
      />
    </div>

    <div class="modal__list">
      <div class="modal__select-title nospace">Машины</div>
      <Row
        v-for="(license, index) in license_plates"
        :key="index"
        :data="license"
        :group="'license_plates'"
        @selected-value="resetList"
        :reset="reset.license_plates"
      />
    </div>
  </div>
</template>


<script>
import Row from "@/components/Row";

export default {
  name: "Modal",
  components: {
    Row,
  },
  data() {
    return {
      reset: {
        drivers: false,
        license_plates: false,
      },
    };
  },
  props: {
    drivers: {
      type: Array,
      required: false,
      default: () => [],
    },
    license_plates: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  methods: {
    selectItem(event) {
      console.log("event", event);
    },
    resetList(payload) {
      this.$emit("selected-value", payload);
    },
  },
};
</script>

<style lang="scss" scoped>
.modal__list {
  display: flex;
  flex-direction: column;
}
.modal__select-title {
  padding: 8px 0 0 40px;
  font-size: 11px;
  margin-bottom: 2px;
  color: #cacaca;
}
.nospace {
  padding: 16px 0 0 40px;
}
</style>  