<template>
  <div class="modal__select-row">
    <div class="modal__select-icon">
      <svg
        width="16"
        height="12"
        viewBox="0 0 16 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        v-if="data.status"
      >
        <path
          d="M15.5 1.83332L5.5 11.8333L0.916664 7.24998L2.09166 6.07498L5.5 9.47498L14.325 0.658318L15.5 1.83332Z"
          fill="black"
        />
      </svg>
    </div>
    <div class="modal__select-row-content">
      <div @click="selectItem">
        {{ data.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Row",
  props: {
    data: {
      type: Object,
      required: true,
      default: () => {},
    },
    group: {
      type: String,
    },
    reset: {
      type: Boolean,
    },
  },
  methods: {
    selectItem() {
      let res = Object.assign({}, this.data, { group: this.group });
      this.$emit("selected-value", res);
    },
  },
};
</script>

<style lang="scss">
.modal__select-icon {
  width: 15px;
  display: inline-block;
}
.modal__select-row {
  display: flex;
  align-items: center;
  padding-left: 15px;
  &:hover {
    background: #f5f5f5;
  }
}

.modal__select-row-content {
  padding: 5px 0 6px 10px;
  margin-bottom: 1px;
}
</style>